
body {
  background: black;
  animation: opacity 2s 1 linear;
}


 #photos {
   /* Prevent vertical gaps */

   -webkit-column-count: 5;
   -webkit-column-gap:   20px;
   -moz-column-count:    5;
   -moz-column-gap:      20px;
   column-count:         5;
   column-gap:           15px;
}

@keyframes spin {
  0%   { transform: rotateY(0);}
  50%  { transform: rotateY(360deg);}
  100% { transform: rotateY(0);}
}

@keyframes opacity {
  0%   {opacity: 0;}
  50%  {opacity: .5;}
  100% {opacity: 1;}
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  animation: spin 2s .5 linear;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}


body {
  margin: 0;
  padding: 5px;
}

 .container {
  position: relative;
  width: 100%;
  padding: 10px;
}

.containernav {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

 .container:hover .overlay {
   opacity: .8;
 }

 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .5;
  transition: .5s ease;
  background-color: black;
}

.text {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 100%;
  letter-spacing: 6px;
  word-spacing: 3.8px;
  color: white;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

a.class1 {
  font-family: Verdana, Geneva, sans-serif;
  transition: .1s;
}
a.class1:link {
  color: blue;
  text-decoration: none;
}
a.class1:visited {
  color: orange;
  text-decoration: none;
}
a.class1:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

.mobilenav {
    border:none;
    background: transparent;
    text-align: left;
    font-size: 1em;
    display: block;
    position: fixed;
    top: 0;
    width: 90%;
    overflow: hidden;
}
.mobilenav #myLinks {
  display: none;
  padding-top: 60px;
}
.mobilenav a.icon {
  background: red;
  display: block;
  position: fixed;
  margin: 10px;
  padding: 5px;
  z-index: 1;
  left: 0;
  top: 0;
  text-align: center;
}
.mobilenav img {
  width: 30px;
}
.mobilenav ul {
    list-style-type: none;
    margin: 0;
}
.mobilenav li {
    display: block;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    padding: 10px;
    background: black;
}
.mobilenav a {
  font-family: Verdana, Geneva, sans-serif;
  letter-spacing: .1em;
}
.mobilenav a:link, visited, hover, active {
  color: red;
  text-decoration: none;
}

.navigation {
  border:none;
  background-color: none;
  text-align: Center;
  font-size: 1em;
  padding-bottom: .2em;
  letter-spacing: 2px;
  height: 3.5em;
  width: 20em;
  position: fixed;
  left: 50%;
  margin-left: -10em;
  bottom: -1.75em;
  cursor: pointer;
  display: none;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline;
}

@media screen and (min-width: 40em) {
  .overlay {
    opacity: 0;
  }

  .mobilenav {
    display: none;
  }
  .navigation {
    display: block;
  }
  a.class2 {
    transition: 0s;
    font-family: Verdana, Geneva, sans-serif;
    letter-spacing: .1em;
  }

  a.class2:link {
      color: #540000;
      background-color: transparent;
      text-decoration: none;
  }

  a.class2:visited {
      color: #540000;
      background-color: transparent;
      text-decoration: none;
  }

  a.class2:hover {
      color: red;
      background-color: transparent;
      text-decoration: none;
      letter-spacing: .5em;
  }

  a.class2:active {
      color: #540000;
      background-color: transparent;
      text-decoration: none;

  }

}
