body {
    background: black;
    letter-spacing: 6px;
    word-spacing: 3.8px;
    color: white;
    animation: opacity 2s 1 linear;
}
p {
  font-size: 1em;
  letter-spacing: 3px;
  word-spacing: 3.8px;
  color: #95FF33;

}

@keyframes opacity {
  0%   {opacity: 0;}
  50%  {opacity: .5;}
  100% {opacity: 1;}

}

.navigation {
  display: none;
  border:none;
  background-color: black;
  text-align: Center;
  font-size: .9em;
  padding-bottom: .2em;
  padding-top: .2em;
  letter-spacing: 2px;
  height: 3.5em;
  width: 100%;
  position: fixed;
  bottom: -1.75em;
  cursor: pointer;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.navigation li {
  display: inline;
}

.mobilenav {
  border:none;
  background: transparent;
  text-align: left;
  font-size: 1em;
  display: block;
  position: fixed;
  top: 0;
  width: 90%;
  overflow: hidden;
}

.mobilenav #myLinks {
  display: none;
  padding-top: 60px;
  padding-left: 10px;
}


.mobilenav a.icon {
  background: transparent;
  display: block;
  position: fixed;
  padding-right: 10px;
  padding-top: 5px;
  z-index: 1;
  right: 0;
  top: 0;
}

.mobilenav ul {
    list-style-type: none;
    margin: 0;
}


.mobilenav li {
  display: block;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  padding: 10px;
  background: black;
  text-transform: none;
  font-size: 1em;
}

.mobilenav a {
  font-family: Verdana, Geneva, sans-serif;
  letter-spacing: .1em;
}

.mobilenav a:link, visited, hover, active {
  color: red;
  text-decoration: none;
}


.topbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

a:link {
    color: #540000;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #540000;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: .5em;
}

a:active {
    color: #540000;
    background-color: transparent;
    text-decoration: none;

}

.form {
  float: left;
  padding-right: .5em;
}

@media screen and (min-width: 40em) {

  .mobilenav {
    display: none;
  }
  .navigation {
    display: block;
  }

}
