body {
  background: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
  letter-spacing: 6px;
  word-spacing: 3.8px;
  color: white;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  animation: opacity 4s 1 linear;

}

img {
  width: 50%;
  animation: grow 30s infinite linear;
}


@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

@keyframes grow {
    0%   {width: 50%;}
    25%  {width: 225%;}
    50%  {width: 400%;}
    100% {width: 50%;}
}

@keyframes opacity {
  0%   {opacity: 0;}
  50%  {opacity: .5;}
  100% {opacity: 1;}

}

.wrap {
	perspective: 800px;
	perspective-origin: 50% 100px;
}


.cube {
  margin: auto;
  padding: auto;
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
  animation: spin 10s infinite linear;
}

.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}

.back {
  background: red;
  opacity: 0.5;
	transform: translateZ(-100px) rotateY(180deg);
  transform-origin: top;
  -webkit-transition: height 10s; /* Safari */
  transition: height 10s;
}
.back:hover{
   height: 2000px;
}
.right {
  background: red;
  opacity: 0.5;
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
  -webkit-transition: height 10s; /* Safari */
  transition: height 10s;
}
.right:hover{
   height: 2000px;
}
.left {
  background: red;
  opacity: 0.5;
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
  -webkit-transition: height 10s; /* Safari */
  transition: height 10s;
}
.left:hover{
   height: 2000px;
}
.top {
  background: red;
  opacity: 0.5;
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
}


.front {
  background: red;
  opacity: 0.5;
	transform: translateZ(100px);
  -webkit-transition: height 10s; /* Safari */
  transition: height 10s;
}
.front:hover{
   height: 2000px;
}

a:link, visited, hover, active {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
  letter-spacing: 6px;
  word-spacing: 3.8px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;

}
